/* reset basico de css */
*{margin: 0;
padding: 0;
box-sizing: border-box;}

/* Paletas de colores y sus variaciones 
Principal: #1405BD
Alt_1: #0552BD
Alt_2: #4433FA
Alt_3: #4433FA
Alt_4: #968DFC
*/

/* VARIABLES para la página*/
:root{
    --color_principal: #1405BD;
    --color_secundario: #0000;
    --color_alternativo1: #1A31EA;
    --color_alternativo2: #4433FA;
    --color_alternativo3: #4433FA;
    --color_alternativo4: #968DFC;
}
body{
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

/*HEADER, a partir de aca se completan todas las clases del header*/
.header-navbar{
  background-color: #000;
  color: #ffff;
  width: 100%;
  /*height: 120vh;  Lo dejo desfijado para que no me rompa a futuro.*/ 
}
.navbar{
  width: 100%;
}
.navbar-brand{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.navbar-negro{
  background-color: #000 !important;
}
.navbar-toggler {
  padding: 2px 6px;   /* achica el área clickeable */
  transform: scale(0.9);  /* reduce el tamaño visual */
}
.navbar-toggler-icon {
  background-image: none !important;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-toggler-icon span {
  display: block;
  width: 100%;
  height: 2px; /* grosor */
  background-color: rgb(77, 77, 77); /* color inicial */
  transition: background-color 0.3s ease;
}
.navbar-toggler:hover .navbar-toggler-icon span {
  background-color: var(--color_alternativo1);
}
.nav-link {
  position: relative;
  transition: color 0.3s ease;
}
.nav-link::after {
  content:"";
  position: absolute;
  left: 0;
  bottom: 0px; /* separación del texto */
  width: 0%;
  height: 3px; /* grosor de la línea */
  background-color: var(--color_alternativo1);
  transition: width 0.3s ease;
}
.nav-link:hover {
  color: var(--color_alternativo1);
}
.nav-link:hover::after {
  width: 100%;
}
.header-design{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 2rem 0.5rem 2rem 0.5rem;
}
.subtitle-design{
  flex-direction: column;
  width: 90%;
  padding:0;
}
.h2-title{
  flex-direction: column;
  font-size: 1rem;
}
.span-disign-industrial{
  padding: 0rem;
  display: block;
  color: var(--color_alternativo1);
  font-weight: 800;
  font-size: 2rem;
}
.p-design{
  width: 50%;
  font-weight: 100;
} /* modificar en tablet y en desktop para ajustarlos*/
.imagen-design{
  /*transform: scale(1.1);*/
  width: 90%;
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}
.imagen-design img{
  width: 100%;       
  height: auto;      
  object-fit: cover; 
  max-width: 50rem;
}

/*Media Cuery Tablet*/
@media (min-width: 660px) {
  /*.header-navbar{
    height: 70vh;
  }*/
  .header-design{
    flex-direction: row;
    padding-top: 2rem;
    align-items: center;
    gap: 2rem;
  }
  .subtitle-design{
    width: 55%;
    font-size: 2.5rem;
    font-weight: 200;
  }
  .span-disign-industrial{
  font-size: 3.5rem;
  font-weight: 800;
  }
  .imagen-design{
    width: 45%;
  }
  .img-design img{
    max-height: 60vh;
  }
  .imagen-design img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
}
/* Media Cuery Desktop */
@media (min-width: 1020px) {
  /*Centrado el nombre de la página*/
  .navbar{
    position: relative;
  }
  .navbar .nombre-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* evita saltos de línea */
  }
  /*El menú de navegacoión queda justo donde*/
  .navbar-brand {
    position: static;
  }
  .subtitle-design{
    width: 40%;
  }
  .header-design{
    padding: 0 4rem;
  }
  .subtitle-design{
    font-size: 3rem;
    font-weight: 200;
  }
  .span-disign-industrial{
  font-size: 4rem;
  font-weight: 900;
  }
  .imagen-design{
    width: 60%;
  }
}
/*SECTION SOBRE MI - Aqui se encuentra todos los estilos de esta sección.*/
.sobre-mi{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  
  gap: 1.5rem; /* separación entre el div y el párrafo */
}
.sobre-mi-background{
  background-color: var(--color_alternativo1);
  height: 5rem;
  width: calc(5rem * 2.6); /* Ancho = 3 veces el alto */
  display: flex;
  justify-content:flex-start;
  align-items: center;
  text-align: center;
  align-content: space-around;
  margin-left: calc(-2rem); /* lo uso con el mismo valor que el padding del padre para contrarrestarlo */
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}
.sobre-mi-p{
  text-align: justify;
  text-justify: inter-word;
}
.carousel-caption.custom-caption {
    background: rgba(15, 12, 12, 0.368) !important;
    backdrop-filter: blur(6px) !important;
    -webkit-backdrop-filter: blur(12px) !important;
    border-radius: 16px;
    padding: 15px 20px !important;
    border: 0 solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.carousel-item {
    position: relative;
    overflow: hidden;
}
.custom-caption h5 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
}
.custom-caption p {
    font-size: 1rem;
    color: #fff;
}
@media (min-width: 660px) {
  .sobre-mi-p{
    width: 50%;
  }
  ..carousel-caption.custom-caption {
        padding: 10px 15px;
        border-radius: 12px;
        backdrop-filter: blur(10px);
  }
  .custom-caption h5 {
        font-size: 1.3rem;
  }
  .custom-caption p {
        font-size: 0.9rem;
  }
}


/*A partir de aca se encontraran las clases que se encuentran en el main*/
