/* Error: There's already a module with namespace "base".
 *     ,
 * 4   | @use "base/base";
 *     | ================ original @use
 * ... |
 * 6   | @use "base/base";
 *     | ^^^^^^^^^^^^^^^^ new @use
 *     '
 *   scss\main.scss 6:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"base\".\a     \2577 \a 4   \2502  @use \"base/base\";\d\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a... \2502 \a 6   \2502  @use \"base/base\";\d\a     \2502  ^^^^^^^^^^^^^^^^ new @use\a     \2575 \a   scss\\main.scss 6:1  root stylesheet";
}
