/* reset basico de css */
*{margin: 0;
padding: 0;
box-sizing: border-box;}

/* Paletas de colores y sus variaciones 
Principal: #1405BD
Alt_1: #0552BD
Alt_2: #4433FA
Alt_3: #4433FA
Alt_4: #968DFC
*/

/* VARIABLES para la página*/
:root{
    --color_principal: #1405BD;
    --color_secundario: #0000;
    --color_alternativo1: #1A31EA;
    --color_alternativo2: #4433FA;
    --color_alternativo3: #4433FA;
    --color_alternativo4: #968DFC;
}
body{
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

/*Header, a partir de aca se completan todas las clases del header*/
.navbar{
  width: 100%;
}
.navbar-brand{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.navbar-negro{
  background-color: #000 !important;
}
.header-navbar{
  background-color: #000;
  color: #ffff;
  width: 100%;
  /*height: 120vh;  Lo dejo desfijado para que no me rompa a futuro.*/ 
}
.nav-link {
  position: relative;
  transition: color 0.3s ease;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* separación del texto */
  width: 0%;
  height: 2px; /* grosor de la línea */
  background-color: var(--color_alternativo1);
  transition: width 0.3s ease;
}
.nav-link:hover {
  color: var(--color_alternativo1);
}
.nav-link:hover::after {
  width: 100%;
}
.header-design{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 2rem 0.5rem 2rem 0.5rem;
}
.subtitle-design{
  flex-direction: column;
  width: 90%;
  padding:0;
}
.h2-title{
  flex-direction: column;
  font-size: 1rem;
}
.span-disign-industrial{
  padding: 0rem;
  display: block;
  color: var(--color_alternativo1);
  font-weight: 800;
  font-size: 2rem;
}
.p-design{
  width: 50%;
  font-weight: 100;

  } /* modificar en tablet y en desktop para ajustarlos*/
.imagen-design{
  /*transform: scale(1.1);*/
  width: 90%;
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}
.imagen-design img{
  width: 100%;       
  height: auto;      
  object-fit: cover; 
  max-width: 50rem;
}

/*Escritorio básico*/
@media (min-width: 660px) {
  /*.header-navbar{
    height: 70vh;
  }*/
  .header-design{
    flex-direction: row;
    padding-top: 2rem;
    align-items: center;
    gap: 2rem;
  }
  .subtitle-design{
    width: 55%;
    font-size: 2.5rem;
    font-weight: 200;
  }
  .span-disign-industrial{
  font-size: 3.5rem;
  font-weight: 800;
  }
  .imagen-design{
    width: 45%;
  }
  .img-design img{
    max-height: 60vh;
  }
  .imagen-design img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
}

/* Desktop */
@media (min-width: 1020px) {
  /*Centrado el nombre de la página*/
  .navbar{
    position: relative;
  }
  .navbar .nombre-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* evita saltos de línea */
  }
  /*El menú de navegacoión queda justo donde*/
  .navbar-brand {
    position: static;
  }
  .subtitle-design{
    width: 40%;
  }
  .header-design{
    padding: 0 4rem;
  }
  .subtitle-design{
    font-size: 3rem;
    font-weight: 200;
  }
  .span-disign-industrial{
  font-size: 4rem;
  font-weight: 900;
  }
  .imagen-design{
    width: 60%;
  }
}


/*A partir de aca se encontraran las clases que se encuentran en el main*/

/*Primer punto de inflexión, Aqui configuro para que todo lo que sea menor a 320px, se coloque en columna.*/

