/* reset basico de css */
*{margin: 0;
padding: 0;
box-sizing: border-box;}

/* Paletas de colores y sus variaciones 
Principal: #1405BD
Alt_1: #0552BD
Alt_2: #4433FA
Alt_3: #4433FA
Alt_4: #968DFC
*/

/* VARIABLES para la página*/
:root{
    --color_principal: #1405BD;
    --color_secundario: #0000; 
}
body{
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

/*Header, a partir de aca se completan todas las clases del header*/
.navbar{
  width: 100%;
}
.navbar-brand{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.navbar-negro{
  background-color: #000 !important;
}
.header-navbar{
  background-color: #000;
  color: #ffff;
  width: 100%;
  /*height: 120vh;  Lo dejo desfijado para que no me rompa a futuro.*/ 
}
.header-design{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 2rem 1rem 3rem 1rem;
}
.subtitle-design{
  flex-direction: column;
  width: 100%;
  padding:0;
}
.h2-title{
  flex-direction: column;
  font-size: 1rem;
}
.span-disign-industrial{
  padding: 0%;
  display: block;
  color: var(--color_principal);
}
.p-design/* modificar en tablet y en desktop para ajustarlos*/
.imagen-design{
  /*transform: scale(1.1);*/
  width: 90%;
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
}
.imagen-design img{
  width: 100%;       
  height: auto;      
  object-fit: cover; 
  max-width: 50rem;
}

/*Escritorio básico*/
@media (min-width: 660px) {

  .header-navbar {
    /*height: 70vh;*/
  }
  .header-design{
    flex-direction: row;
    padding-top: 2rem;
    align-items: center;
    gap: 2rem;
  }
  .subtitle-design{
    width: 55%;
    /*font-size: 3rem;
    font-weight: 200;*/
  }
  /*.span-disign-industrial{
  font-size: 4rem;
  font-weight: 800;
  }*/
  .imagen-design{
    width: 45%;
  }
  .img-design img{
    max-height: 60vh;
  }
  .imagen-design img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
  
}

/* Desktop */
@media (min-width: 1020px) {
  .subtitle-design{
    width: 40%;
  }
  .header-design{
    padding: 0 4rem;
  }
  .subtitle-design{
    font-size: 3rem;
    font-weight: 200;
  }
  .span-disign-industrial{
  font-size: 4rem;
  font-weight: 800;
  }
  .imagen-design{
    width: 60%;
  }
}


/*A partir de aca se encontraran las clases que se encuentran en el main*/

/*Primer punto de inflexión, Aqui configuro para que todo lo que sea menor a 320px, se coloque en columna.*/

