/* ======!DOCUMENTO MIS-TRABAJOS!======*/

@use "../base/variables";
@use "../base/mixins" as m;

.header-mis-trabajos {
background-color: variables.$color-white;
}

.section-mis-trabajos {
background-color: variables.$color-black;
@include m.flex-center(column);
}

.mis-proyectos-h2 {
  text-align: center;
  color: variables.$color-white;
  font-size: 3rem;
  font-weight: 900;
}

.mis-proyectos-h2 span {
color: variables.$color-alt-2;
padding-left: 0.5rem;
}

.mis-proyectos-p{
  color: variables.$color-white;
  font-size: 1.6rem;
  padding: 0 2rem;

}

.marke7wrapper {
  width: 100%;
  @include m.flex-center(column);
}
.mis-trabajos-container {
  @include m.flex-center(column, 3rem);
  margin-bottom: 2rem;
  }

.grid-imagen {
  display: none;
}

@include m.respond(md) {
  
  .marke7-cards, .roman-cards, 
  .ismael-cards, .diego-cards {
    display:none;
  }
}

@include m.respond(lg) {
  
  .section-carousel {
    display: none;
  }
  .grid-imagen {
    display: grid;
    width: 90vh;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .parent {
  width: 95vw;  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);
  gap: 2rem;
  }

  .grid-item {
  overflow: hidden;
  border-radius: 14px;
  aspect-ratio: 1 / 1;
  }

  .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  }
    
  .grid-item:hover img {
    transform: scale(1.08);
  }

  /*Areas del grid*/
 .imag-1 { grid-area: 1 / 1 / 2 / 2; }
 .imag-2 { grid-area: 1 / 2 / 2 / 3; }
 .imag-3 { grid-area: 1 / 3 / 2 / 4; }
 .imag-4 { grid-area: 1 / 4 / 2 / 5; }
 .imag-5 { grid-area: 2 / 1 / 3 / 2; }
 .imag-6 { grid-area: 3 / 1 / 4 / 2; }
 .imag-7 { grid-area: 4 / 1 / 5 / 2; }
 .imag-8 { grid-area: 2 / 2 / 4 / 4; }
 .imag-9 { grid-area: 5 / 1 / 6 / 3; }
 .imag-10 { grid-area: 5 / 3 / 6 / 5; }
 .imag-11 { grid-area: 4 / 2 / 5 / 3; }
 .imag-12 { grid-area: 4 / 3 / 5 / 4; }
 .imag-13 { grid-area: 4 / 4 / 5 / 5; }
 .imag-14 { grid-area: 2 / 4 / 4 / 5; }

 .imag-14 {
  aspect-ratio: auto;
  height: 100%;
 }

.imag-9,
.imag-10 {
  aspect-ratio: 2 / 1;
}

 .modal-img {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s ease;
  z-index: 9999;
}
.modal-img.active {
  opacity: 1;
  pointer-events: all;
}
.modal-content {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
  transform: scale(0.85) translateZ(0);
  transition: transform .45s ease;
  border-radius: 20px;
  box-shadow: 0 40px 80px rgba(0,0,0,.6);
}
.modal-img.active .modal-content {
  transform: scale(1);
}
.modal-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}
}


/*
TAREAS QUE FALTAN
1-
2-
3-
4-
5-
*/

