

@use "../base/variables";

.card {
  width: 100%;  
  max-width: 18rem; /*Evita deformación en desktop*/
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /*margin-bottom: 1.5rem;*/

  &-img-top {
    height: 12.5rem; /* Tamaño fijo */
    object-fit: cover; /* Mantiene proporciones */
    border-radius: 10px 10px 0 0
  }

  &-body {
    flex: 1;
    padding: 0.6rem 0.75rem; /* cuerpo más chico */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

      .btn {
      padding: 0.25rem 0.6rem;
      font-size: 0.75rem;  
    }
  }

  &-title {
    font-size: 0.9rem !important;
    margin-bottom: 0.1rem;
  }

  &-text {
    font-size: 0.75rem !important;
    line-height: 1.2;
    margin-bottom: 0.1rem;
  }

}

/*Variables visuales de mis cards*/

.card.glass {
    background: rgba(255, 255, 255, 0.15);  
    backdrop-filter: blur(10px);            /* Efecto vidrio */
    -webkit-backdrop-filter: blur(10px);    
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.card-title,
.card-text {
  font-size: 1rem !important; /* Misma letra mobile y desktop */
  line-height: 1.3;
}


