/* reset basico de css */
*{margin: 0;
padding: 0;
box-sizing: border-box;}

/* Paletas de colores y sus variaciones 
Principal: #1405BD
Alt_1: #0552BD
Alt_2: #092CAB
Alt_3: #4433FA
Alt_4: #968DFC
*/

/* VARIABLES para la página*/

body {
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

body {
  overflow-x: hidden;
  }

