


@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin respond($breakpoint) {
  @if $breakpoint == md {
    @media (min-width: 660px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: 1020px) {
      @content;
    }
  }
}

