
/* Paleta principal */
$color-principal: #1405BD;

/*colores neutros*/
$color-black: #000;
$color-white: #fff;

/*Paleta secundaria*/
$color-alt-1: #1A31EA;
$color-alt-2: #092CAB;
$color-alt-3: #4433FA;
$color-alt-4: #8BC8EA;

/* Spacing */
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 3rem;

/* Radius */
$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 2rem;